.DS_Store
.gradle
.idea
.SetupConfig
.vs
.vscode
Binaries
Build
!/Build/Android/ue4commandline.txt
DerivedDataCache
Intermediate
Saved
/Content/NextHumans
/Content/MetaHumans
/output
/Plugins/NextCAS-Assets
/Plugins/NextCAS-SDK
/Plugins/NextSecret
/Plugins/NHMMKV
/Plugins/NHMiniZip
*.sln
*.xcworkspace
